@media (width < 768px ) {

    nav{
        /* min-height: 12vh; */
        width: 100%;
        /* padding-right: 25px; */
    }
    ul {
        gap: 25px;
     }
    ul li {
        width: 25px;
        height: 25px;
     }
     ul li::before {
        inset: 10px;
        box-shadow: 0 0 0 5px var(--clr),
                    0 0 0 10px var(--bg),
                    0 0 0 10px var(--clr);
     }
     ul li:hover::before {
        inset: 5px;
     }
     ul li a i {
        font-size: 1.2em;
     }
     ul li:hover a span {
        font-size: 10px;
     }
     ul li:hover a i,
     ul li a span{
        filter: drop-shadow(0 0 10px white) drop-shadow(0 0 20px white) drop-shadow(0 0 30px white);
     }
     .btn{
        width: 50px;
        border-radius: 0 8px;
        font-size: 11px; 
     }
    
     .btn:hover{
        width: 50px;
        border-radius: 8 0px;
        font-size: 10px;
        box-shadow: 0 0 0 3px white,
        0 0 0 3px white;
     }


     /* STYLING FOR THE COMPANY NAME BEGINS FROM HERE */
 .home{
    width: 100%;
    height: 100vh;
  }
  .home h2{
   /* display: none; */
    max-width: 100%;
    font-size: 90px;
  }
 

/* STYLING FOR THE TYPING TEXT ANIMATION BEGINS FROM HERE */
.animated-text p{
   font-size: 18px;
}

.animated-text{
   font-size: 20px;
   min-width: 100%;
   color: white;
}

#about{
   width: 100%;
   height: 100vh;
 }

 #services{
   width: 100%;
   height: 100vh;
 }

 #portfolio{
   width: 100%;
   height: 100vh;
 }

 #contact{
   width:  100%;
   height:100vh;
 }



}




