*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100vw;
    background: black;
    
}
/* STYLING FOR THE BUBBLE DROPS BEGINS FROM HERE */
.bg{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles{
    position: relative;
    display: flex;
}

.bubbles span{
    position: relative;
    min-width: 30px;
    height: 30px;
    background: orangered;
    border-radius: 50%;
    box-shadow: 0 0 0 2px white,
    0 0 20px orange,
    0 0 50px orange;
    margin: 0 4px;
    animation: animate 1s linear infinite;
    animation-duration: calc(100s / var(--i));
}
.bubbles span:nth-child(even){
    background: rgb(241, 116, 241);
    box-shadow: 0 0 0 2px white,
    0 0 20px rgb(241, 116, 241),
    0 0 50px rgb(241, 116, 241);
}
@keyframes animate{
    0%{
        transform: translateY(-30vh) scale(0);
    }
    100%{
        transform: translateY(100vh) scale(1);
    }
}

/* STYLING FOR THE BUBBLE DROPS ENDS FROM HERE */

/* STYLING FOR THE NAVBAR BEGINS FROM HERE */
header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 0 80px;
    /* z-index: 1; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* backdrop-filter: blur(20px); */
    /* border-bottom: 1px solid; */
    /* color:transparent; */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    width: 100vw;
    /* background: var(--bg); */
    background: black;
    padding-right: 70px;
    z-index: 1;
 }
 ul {
    position: relative;
    display: flex;
    gap: 70px;
 }
 ul li {
    position: relative;
    list-style: none;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
 }
 ul li::before {
    content: '';
    position: absolute;
    /* inset: 30px; */
    inset: 20px;
    box-shadow: 0 0 0 10px var(--clr),
                0 0 0 20px var(--bg),
                0 0 0 22px var(--clr);
    transition: 0.5s;
 }
 ul li:hover::before {
    /* inset: 15px; */
    inset: 10px;
 }
 ul li::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--bg);
    transform: rotate(45deg);
    transition: 0.5s;
 }
 ul li:hover::after {
    inset: 0px;
    transform: rotate(0deg);
 }
 ul li a {
    position: relative;
    text-decoration: none;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 ul li a i {
    font-size: 2.5em;
    transition: 0.5s;
    color: var(--clr);
    opacity: 1;
 }
 ul li:hover a i {
    /* color: var(--clr); */
    color: rgb(241, 116, 241);
    transform: translateY(-40%);
 }
 ul li a span {
    position: absolute;
    font-family: sans-serif;
    color: white;
    opacity: 0;
    transition: 0.5s;
    transform: scale(0) translateY(200%);
 }
 ul li:hover a span {
    opacity: 1;
    font-size: 18px;
    transform: scale(1) translateY(100%);
 }
 ul li:hover a i,
 ul li a span{
    filter: drop-shadow(0 0 20px white) drop-shadow(0 0 40px white) drop-shadow(0 0 60px white);
 }

 .btn{
    width: 170px;
    border-radius: 0 20px;
    font-size: 18px;
    background-color: red;
    border: none;
    color: #0c192c;   
 }

 .btn:hover{
    width: 170px;
    border-radius: 20px 0px;
    font-size: 18px;
    background-color: rgb(241, 116, 241);
    color: white;   
    box-shadow: 0 0 0 5px white,
    0 0 0 5px white;
    transition: 0.7s;

 }
 /* STYLING FOR THE NAVBAR ENDS FROM HERE */

 /* STYLING FOR THE COMPANY NAME BEGINS FROM HERE */
 #home{
   position: absolute;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 #home .content{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   max-width: 700px;
 }

 #home .content h2{
   position: relative;
   font-size: 80px;
   color: white;
   margin: 10px 0 0 0;
   /* color: rgb(241, 116, 241);; */
   color: white;
   overflow: hidden;
   z-index: 1;
   padding-bottom: 20px;
 }

 #home .content h2 span{
   color: red;
 }

 #home .content p{
   font-size: 19px;
   color: white;
 }
 
 
#home .content h2::before{
   content: '';
   position: absolute;
   right: 120;
   width: 120%;
   height: 100%;
   background: linear-gradient(45deg,transparent 0%, #000 0%, #000 100%);
   animation: fadein 4.5s linear forwards;
   animation-delay: 4.5s;
}
@keyframes fadein {
   0%{
       right: -20%;
   }
   100%{
       right: 100%;
   }
}

h2 span{
   color: red;
}
/* STYLING FOR THE COMPANY NAME ENDS FROM HERE */

/* STYLING FOR THE VID ANIMATION OVER COMPANY NAME BEGINS FROM HERE */
video{
   position: absolute;
   top: 10;
   left: 10%;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: 2;
   pointer-events: none;
   mix-blend-mode: screen;
   margin-bottom: 160px;
}
/* STYLING FOR THE VID ANIMATION OVER COMPANY NAME ENDS FROM HERE */

/* STYLING FOR THE TYPING TEXT ANIMATION BEGINS FROM HERE */
.animated-text{
   font-size: 34px;
   font-weight: 600;
   min-width: 280px;
   color: white;
}

.animated-text span{
   position: relative;
}

.animated-text span::before{
   content:'Designer.';
   color: red;
   animation: words 20s infinite;
}

.animated-text span::after{
   content: '';
   background-color: black;
   position: absolute;
   width: calc(100% + 8px);
   height: 100%;
   border-left: 2px solid rgb(241, 116, 241);
   right: -8px;
   animation: cursor .6s infinite,typing 20s steps(14) infinite;
}
@keyframes cursor{
   to{
       border-left: 2px solid rgb(241, 116, 241);
   }
}
@keyframes words{
  0%,20%{
   content: 'Website Design';
   color: red;
  }
  21%,40%{
   content: 'Content Creation';
   color: rgb(241, 116, 241);
  }
  41%,60%{
   content: 'Website Hosting & Domain Reg';
   /* color: rgb(241, 116, 241); */
   color: red;
  }
  61%,80%{
   content: 'Website Domain Registration';
   color: rgb(241, 116, 241);

  }
  81%,100%{
   content: 'And many more';
   /* color: rgb(241, 116, 241); */
   color: red;
  }
   
}

@keyframes typing{
   10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
       width: 0;
   }

   5%,20%,25%,40%,45%,60%,65%,80%,85%{
       width: calc(100% + 8px);
   }
} 
/* STYLING FOR THE TYPING TEXT ANIMATION ENDS FROM HERE */