*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

 /* STYLING FOR THE NAVBAR BEGINS FROM HERE */

nav {
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 12vh;
   width: 100%;
   background-color: antiquewhite;
   background-color: transparent;
   z-index: 1;
  
}
ul {
   position: relative;
   display: flex;
   gap: 70px;
}
ul li {
   position: relative;
   list-style: none;
   display: flex;
   width: 60px;
   height: 60px;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: 0.5s;
}
ul li::before {
   content: '';
   position: absolute;
   inset: 18px;
   box-shadow: 0 0 0 10px var(--clr),
               0 0 0 20px var(--bg),
               0 0 0 22px var(--clr);
   transition: 0.5s;
}
ul li:hover::before {
   inset: 8px;
}
ul li::after {
   content: '';
   position: absolute;
   inset: 0;
   background: var(--bg);
   transform: rotate(45deg);
   transition: 0.5s;
}
ul li:hover::after {
   inset: 0px;
   transform: rotate(0deg);
}
ul li a {
   position: relative;
   text-decoration: none;
   z-index: 10;
   display: flex;
   justify-content: center;
   align-items: center;
}
ul li a i {
   font-size: 2.3em;
   transition: 0.5s;
   color: var(--clr);
   opacity: 1;
}
ul li:hover a i {
   /* color: var(--clr); */
   color: rgb(241, 116, 241);
   transform: translateY(-40%);
}
ul li a span {
   position: absolute;
   font-family: sans-serif;
   color: white;
   opacity: 0;
   transition: 0.5s;
   transform: scale(0) translateY(200%);
}
ul li:hover a span {
   opacity: 1;
   font-size: 18px;
   transform: scale(1) translateY(100%);
}
ul li:hover a i,
ul li a span{
   filter: drop-shadow(0 0 20px white) drop-shadow(0 0 40px white) drop-shadow(0 0 60px white);
}

.btn{
   width: 160px;
   border-radius: 0 20px;
   font-size: 18px;
   background-color: white;
   border: none;
   color: #0c192c;   
}

.btn:hover{
   width: 150px;
   border-radius: 18px 0px;
   font-size: 18px;
   background-color: rgb(241, 116, 241);
   color: white;   
   box-shadow: 0 0 0 5px white,
   0 0 0 5px white;
   transition: 0.3s;

}
/* STYLING FOR THE NAVBAR ENDS FROM HERE */
/* .card{
   position: sticky;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100vw;
   height: 100vh;
} */


 /* STYLING FOR THE COMPANY NAME BEGINS FROM HERE */
 video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   object-fit: cover;
   z-index: -1;
 }

 #home{
   
   display: flex;
   flex-direction: column;
   width: 100vw;
   height: 100vh;
   align-items: center;
   justify-content: center;
   /* background-color: black; */
   color: white;
   /* background: url(./pexels-soumya-11041434\ \(1080p\).mp4);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
    */
 }

 #home h2{
   /* font-family: "Protest Revolution", sans-serif; */
   font-size: 75px;
   color: white;
   overflow: hidden;
   padding-top: 100px;
 }

 #home h2 span{
   color: orangered;
 }
  
/* STYLING FOR THE COMPANY NAME ENDS FROM HERE */


/* STYLING FOR THE TYPING TEXT ANIMATION BEGINS FROM HERE */

.animated-text p{
   margin-top: 10px;
   font-size: 20px;
   /* color: white; */
}
.animated-text{
   padding-top: 30px;
   /* z-index: 1; */
   font-size: 22px;
   min-width: 280px;
   color: white;
   text-align: center;
}

.animated-text span{
   position: relative;
}

.animated-text span::before{
   content:'Designer.';
   color: orangered;
   animation: words 20s infinite;
}

.animated-text span::after{
   content: '';
   background-color: transparent;
   position: absolute;
   width: calc(100% + 8px);
   height: 100%;
   /* border-left: 1px solid rgb(241, 116, 241); */
   right: -8px;
   animation: cursor .6s infinite,typing 20s steps(14) infinite;
}
@keyframes cursor{
   to{
       /* border-left: 2px solid rgb(241, 116, 241); */
   }
}
@keyframes words{
  0%,20%{
   content: 'Website/ Landing Page Design';
   color: orangered;
  }
  21%,40%{
   content: 'Content Creation';
   color: rgb(241, 116, 241);
  }
  41%,60%{
   content: 'Website Hosting';
   /* color: rgb(241, 116, 241); */
   color: orangered;
  }
  61%,80%{
   content: 'Website Domain Registration';
   color: rgb(241, 116, 241);

  }
  81%,100%{
   content: 'And many more..';
   /* color: rgb(241, 116, 241); */
   color: orangered;
  }
   
}

@keyframes typing{
   10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
       width: 0;
   }

   5%,20%,25%,40%,45%,60%,65%,80%,85%{
       width: calc(100% + 8px);
   }
} 
/* STYLING FOR THE TYPING TEXT ANIMATION ENDS FROM HERE */

/* STYLING FOR THE ABOUT SECTION STARTS FROM HERE */
#about{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #000;
   width: 100vw;
   height: 100vw;
   color: white;
   background-color: pink;
}

#services{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #000;
   width: 100vw;
   height: 100vw;
   color: white;
   background-color: red;
}

#portfolio{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #000;
   width: 100vw;
   height: 100vw;
   color: white;
   background-color:blue;
}

#contact{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #000;
   width: 100vw;
   height: 100vw;
   color: white;
   background-color: orange;
}